.screen {
    min-height: 100vh;
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: all .3s ease-in-out;
    overflow: hidden;

    $self: &;

    &._active{
        opacity: 1;
        visibility: visible;
    }
    &__container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__text {
        color: $white;
        @include adaptiv-value('font-size', 60, 22, 1);
        line-height: 1.3;
        font-weight: 500;
        text-align: center;

        span{
            display: inline-block;
            &._active{
                animation: smoke 2s linear forwards;
            }
        }
    }

    &__descr{
        color: $white;
        @include adaptiv-value('font-size', 30, 18, 1);
        line-height: 1.3;
        font-weight: 500;
        text-align: center;
        @media (max-width: $md3+px){
           padding: 0 10px;
        }

        span{
            display: inline-block;
            cursor: pointer;
            &._active{
                animation: smoke 2s linear forwards;
            }
        }
    }

    &_red{
        #{$self}__descr{
            span{
                &._active{
                    animation: smokeRed 2s linear forwards;
                }
            }
        }
    }

    &_blue{
        #{$self}__descr{
            span{
                &._active{
                    animation: smokeBlue 2s linear forwards;
                }
            }
        }
    }

    &__choice {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $md4+px){
            flex-direction: column;
        }
    }

    &__tablet{
        flex: 0 0 200px;
        height: 40px;
        border-radius: 50px;
        box-shadow: 0 0 20px rgba(#000000, .6) inset;
        color: $white;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
        position: absolute;

        @media (max-width: $md4+px){
           width: 200px;
           flex: 0 0 40px;
        }

        &_red {
            background: red;
            transform: translateX(-100%);
            margin: 0px 20px 0px 0px;
            @media (max-width: $md4+px){
               margin: 0px 0px 20px 0px;
            }
        }
    
        &_blue {
            background: blue;
            transform: translateX(100%);
        }

        &._active{
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
            position: static;
        }
    }
}



@keyframes smoke {
    20%{
        color: #333;
    }

    100%{
        opacity: 0;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
    }
}

@keyframes smokeRed {
    20%{
        color: red;
    }

    100%{
        opacity: 0;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
    }
}

@keyframes smokeBlue {
    20%{
        color: blue;
    }

    100%{
        opacity: 0;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
    }
}

.github{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;

    svg{
        width: 40px;
        height: 40px;

        path{
            transition: all .3s ease-in-out;
        }
    }

    @media(any-hover: hover){
        &:hover{
            svg{
                path{
                    fill: #aaa;
                }
            }
        }
    }
}