$burgerColor: #fff;

.burger {
  display: none;
  @media (max-width: $md3+px) {
    @include adaptiv-value('margin-left', 32, 15, 1);
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    z-index: 10;
    span {
      background: $burgerColor;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 8px;
      transition: all ease 0.3s;
      border-radius: 100px;

      &:first-child {
        left: 0;
        top: 0;
      }
      &:last-child {
        left: 0;
        top: auto;
        bottom: 0;
      }
    }

    &._active {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }
}
