@charset "UTF-8";

@font-face {
  font-family: "lg";
  font-display: swap;
  src: url("../fonts/lg.woff") format("woff"), url("../fonts/lg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*Обнуление*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Monserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Monserrat", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.screen {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.screen._active {
  opacity: 1;
  visibility: visible;
}

.screen__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen__text {
  color: #fff;
  font-size: 60px;
  line-height: 1.3;
  font-weight: 500;
  text-align: center;
}

.screen__text span {
  display: inline-block;
}

.screen__text span._active {
  -webkit-animation: smoke 2s linear forwards;
          animation: smoke 2s linear forwards;
}

.screen__text a {
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.screen__descr {
  color: #fff;
  font-size: 30px;
  line-height: 1.3;
  font-weight: 500;
  text-align: center;
}

.screen__descr span {
  display: inline-block;
  cursor: pointer;
}

.screen__descr span._active {
  -webkit-animation: smoke 2s linear forwards;
          animation: smoke 2s linear forwards;
}

.screen_red .screen__descr span._active {
  -webkit-animation: smokeRed 2s linear forwards;
          animation: smokeRed 2s linear forwards;
}

.screen_blue .screen__descr span._active {
  -webkit-animation: smokeBlue 2s linear forwards;
          animation: smokeBlue 2s linear forwards;
}

.screen__choice {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.screen__tablet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  height: 40px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6) inset;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.6) inset;
}

.screen__tablet_red {
  background: red;
  margin: 0px 20px 0px 0px;
}

.screen__tablet_blue {
  background: blue;
}

@-webkit-keyframes smoke {
  20% {
    color: #333;
  }

  100% {
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
            transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
  }
}

@keyframes smoke {
  20% {
    color: #333;
  }

  100% {
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
            transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
  }
}

@-webkit-keyframes smokeRed {
  20% {
    color: red;
  }

  100% {
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
            transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
  }
}

@keyframes smokeRed {
  20% {
    color: red;
  }

  100% {
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
            transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
  }
}

@-webkit-keyframes smokeBlue {
  20% {
    color: blue;
  }

  100% {
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
            transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
  }
}

@keyframes smokeBlue {
  20% {
    color: blue;
  }

  100% {
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    -webkit-transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
            transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
  }
}

._container {
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body {
  background: #111;
}

body._lock {
  overflow: hidden;
}

/**
@media (min-width: 992px){
   &:hover{

   }
}
*/

@media (max-width: 1112px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1100px) {
  .screen__text {
    font-size: calc(22px + 38 * ((100vw - 320px) / 780));
  }

  .screen__descr {
    font-size: calc(18px + 12 * ((100vw - 320px) / 780));
  }

  .screen__choice {
    margin-top: calc(15px + 15 * ((100vw - 320px) / 780));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 479.98px) {
  .screen__choice {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .screen__tablet {
    width: 200px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }

  .screen__tablet_red {
    margin: 0px 0px 20px 0px;
  }
}

@media (any-hover: hover) {
  .screen__text a:hover {
    color: #eee;
  }
}